<p id="notice"><%= notice %></p>

<h1>Pasta</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Produttore</th>
      <th>Descrizione</th>
      <th>Cottura</th>
      <th>Peso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pasta.each do |pastum| %>
      <tr>
        <td><%= pastum.nome %></td>
        <td><%= pastum.produttore %></td>
        <td><%= pastum.descrizione %></td>
        <td><%= pastum.cottura %></td>
        <td><%= pastum.peso %></td>
        <td><%= link_to 'Show', pastum %></td>
        <td><%= link_to 'Edit', edit_pastum_path(pastum) %></td>
        <td><%= link_to 'Destroy', pastum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pastum', new_pastum_path %>
